{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/art_gallery.css' %}">
{% endblock %}

{% block content %}
<header style="display: flex; justify-content: space-between; align-items: center;">
    <h1 style="margin: 0;">
        GACHK
    </h1>
    <a href="/inclusion" class="inclusion" title="Adicionar Arte" style="color: #fff; text-decoration: none;">
        <i class="fas fa-lock"></i>
    </a>
</header>

<div class="main-image-container">
    <div class="main-image" style="background-image: url('media/1.png');"></div>
</div>

<div class="container">
    <!-- Pesquisar -->
    <div class="search-container">
        {% include 'art_gallery/search_art.html'%}
    </div>
    <!-- Melhores artes -->
    <div class="highlighted-artworks">
        {% include 'art_gallery/artwork.html' %}
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
